/* Table of contents link color */

.book-summary ul.summary li.active>a {
    color: #04CD33
}


/* Block quote green color */

.markdown-section blockquote {
    border-left: 4px solid #04CD33
}


/* Link colors */

.markdown-section a {
    color: #00B476
}

a.gitbook-link {
    display: none !important;
}


/* Code Block (Used to highlight buttons in UI) */

.markdown-section code {
    color: white;
    font-weight: bold;
    background-color: #6651F1;
}


/* SP TODO Styling */

.panel-sp-todo {
    border-color: #ffffff;
    background-color: #FCFDFF;
}

.panel-sp-todo>.panel-body {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #D3D6DE;
}

.panel-sp-todo>.panel-heading {
    color: #ffffff;
    background-color: #04CD33;
    border-color: #ffffff;
    border-bottom: 0px;
}